<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>唯我后台管理中心-首页</title>
	<script type="text/javascript" src="__ADMIN_STATIC__/js/jquery.min.js"></script>
	<script type="text/javascript" src="__ADMIN_STATIC__/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="__ADMIN_STATIC__/css/bootstrap.min.css">
	<style type="text/css">
		body{padding: 0;margin: 0;}
	</style>
</head>
<body>
	<div class="btn" style="width:100%;cursor: default;">
		<div class="jumbotron" style="padding:140px 0;margin-top:50px;" >
			<h1>后台管理中心</h1>
			<p>V 0.9.9版</p>
			<p><a class="btn btn-primary btn-lg" href="{:url('admin/admin/info')}" role="button">Do it</a></p>
		</div>
	</div>
</body>
</html>