<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="x-ua-compatible" content="IE=edge" >
    <title>only手机商城</title>
    <meta name="keywords" content='only手机商城'/>
    <meta name="description" content='only手机商城'/>
    <link rel="shortcut icon" href="{:url('index/index/index')}">

    <link href="__SITE_STATIC__/css/global.css" rel="stylesheet" type="text/css"/>
    <link href="__SITE_STATIC__/css/dialog.css" rel="stylesheet" type="text/css"/>
    <link href="__SITE_STATIC__/css/dialog.css" rel="stylesheet" type="text/css">
    <link href="__SITE_STATIC__/css/home.css" rel="stylesheet" type="text/css"/>
    <link href="__SITE_STATIC__/css/layout.css" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min_23e126e.js"></script>
    <![endif]-->

</head>
<body class="">
{include file="/header" /}
<div id="content" class="cl">
    <div id="j_HomeBanner" class="home-banner">
        <ul class="container">
            <li class="banner-item"  >

                <div class="structure-module full">
                    <div class="sm-wrapper">
                        <img class="j_bgImage" data-ratio="1.92" src="__SITE_STATIC__/img/20161128102406538130_original.jpg" usemap="#Mmodule_1480299847570">
                        <map class="j_map" name="Mmodule_1480299847570"><area
                            class="j_link" data-coords="573,231,666,262"
                            coords="1100.1599999999999,443.52,1278.72,503.03999999999996"
                            href="/product/9948"
                            target="_blank" /><area
                            class="j_link" data-coords="674,231,768,261"
                            coords="1294.08,443.52,1474.56,501.12"
                            href="/product/9957"
                            target="_blank" />
                        </map>
                    </div>
                </div>
            </li>
            <li class="banner-item" style="display:none;" >
                <a class="banner-link" target="_blank" href="https://shop.vivo.com.cn/sp/vbx9">&nbsp;</a>
                <div class="structure-module full">
                    <div class="sm-wrapper">
                        <img class="j_bgImage" data-ratio="1.92" src="__SITE_STATIC__/img/20161125101531791427_original.jpg" usemap="#Mmodule_1480040136673">

                    </div>
                </div>
            </li>
            <li class="banner-item" style="display:none;" >
                <a class="banner-link" target="_blank" href="https://shop.vivo.com.cn/sp/Xplay6">&nbsp;</a>
                <div class="structure-module full">
                    <div class="sm-wrapper">
                        <img class="j_bgImage" data-ratio="1.92" src="__SITE_STATIC__/img/20161116223139262862_original.jpg" usemap="#Mmodule_1479306700998">

                    </div>
                </div>
            </li>

            <li class="banner-item" style="display:none;" >
                <a class="banner-link" target="_blank" href="#">&nbsp;</a>
                <div class="structure-module full">
                    <div class="sm-wrapper">
                        <img class="j_bgImage" data-ratio="1.92" src="__SITE_STATIC__/img/L_2.jpg" usemap="#Mmodule_1479306700998">

                    </div>
                </div>
            </li>

            <li class="banner-item" style="display:none;" >
                <a class="banner-link" target="_blank" href="#">&nbsp;</a>
                <div class="structure-module full">
                    <div class="sm-wrapper">
                        <img class="j_bgImage" data-ratio="1.92" src="__SITE_STATIC__/img/L_1.jpg" usemap="#Mmodule_1479306700998">

                    </div>
                </div>
            </li>
        </ul>
        <div id="j_bannerIndicator" class="indicator"></div>
    </div>
</div>
<div class="home-content-wrapper">
    <div class="structure-module full">
        <div class="sm-wrapper">
            <img class="j_bgImage" data-ratio="1.92" src="__SITE_STATIC__/img/1480414353625.jpg" usemap="#Mmodule_1480293942325">

        </div>
        <div class="sm-wrapper">
            <img class="j_bgImage" data-ratio="1.92" src="__SITE_STATIC__/img/20161201091234583f7a6a82a68.jpg" usemap="#Mmodule_1480293942325">

        </div>
    </div>
</div>
{include file="/footer" /}
<div id="side-bar">
    <ul>
        <li><a class="service" id="J_online-service" target="_blank" href="http://crm2.qq.com/page/portalpage/wpa.php?uin=4007161118&aty=0&a=0&curl=&ty=1"></a></li>
        <li>
            <a class="qrcode">
                <div class="qrcode-container">
                    <img src="__SITE_STATIC__/img/qrcode_6a6b792.png">
                    <p>支付宝扫码<br>关注享最新活动福利</p>
                </div>
            </a>
        </li>
        <li class="last">
            <a class="feedback" id="J_feedback">
                <div class="feedback-container" id="J_feedback-container">
                    <span class="close" id="J_feedback-close"></span>
                    <p class="title">意见反馈</p>
                    <div class="problem-container">
                        <p id="J_feedback-typeDesc" class="problem">请选择问题类型</p>
                        <select id="J_feedback-typeSelect">
                            <option value="0" disabled="disabled" selected="selected">请选择问题类型</option>
                            <option value="1">购物流程（页面浏览、下单、支付等）</option>
                            <option value="2">服务问题（物流时效、客服态度、退换货、售后维修等）</option>
                            <option value="3">商品质量（手机、配件问题）</option>
                            <option value="4">优化建议（活动、服务、购物体验等）</option>
                            <option value="5">其他问题</option>
                        </select>
                    </div>
                    <textarea id="J_feedback-content" class="" maxlength="200" placeholder="请输入您的建议或具体问题，我们将不断改进。"></textarea>
                    <input id="J_feedback-contact" class="contact-way" type="text" maxlength="50" placeholder="邮箱或者only账户 （选填）">
                    <span id="J_feedback-kaptchaButton" class="change-code">看不清，换一张</span>
                    <img id="J_feedback-kaptchaImage" class="code">
                    <input id="J_feedback-securityCode" class="code-input" type="text" placeholder="输入右侧验证码">
                    <p id="J_feedback-validateMsg" class="error">请输入正确的信息</p>
                    <button id="J_feedback-submitButton">提交</button>
                </div>
            </a>
        </li>
        <li class="hide" id="J_backtop"><a class="backtop"></a></li>
    </ul>
</div>
<script>
    var webCtx = "";
    var passportLoginUrlPrefix = "https://passport.vivo.com.cn/v3/web/login/authorize?client_id=3&redirect_uri=";
</script>
<script src="__SITE_STATIC__/js/jquery.min_6163309.js"></script>
<script src="__SITE_STATIC__/js/jquery.cookie_a5283b2.js"></script>
<script src="__SITE_STATIC__/js/jquery.lazyload_546c1da.js"></script>
<script src="__SITE_STATIC__/js/jquery-placeholder_fb6154c.js"></script>
<script src="__SITE_STATIC__/js/vivo-common_38aa2f0.js"></script>
<script src="__SITE_STATIC__/js/dialog_6a2b3fb.js"></script>
<script src="__SITE_STATIC__/js/vivo-stat_265b49b.js"></script>
<script src="__SITE_STATIC__/js/login_confirm_485e7b4.js"></script>
<script src="__SITE_STATIC__/js/dialog_6a2b3fb.js"></script>
<script src="__SITE_STATIC__/js/jquery.validate.min_76c74f2.js"></script>
<script src="__SITE_STATIC__/js/index_0f7e03e.js"></script>
<script src="__SITE_STATIC__/js/index_e1bfc47.js"></script>
</body>
</html>